{% extends 'base.html' %}

{% block title_block %}
Lista de Produtos
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}

<section class="ui ten wide center grid aligned column">
<section class="ui ten wide column">
<div class="row espaco"></div>
    <h2 class="ui teal image header">
      <div class="content ">
        Login
      </div>
    </h2>
    <form class="ui large form" action="" method="POST">
      <div class="ui stacked segment">
          {% if form.username.errors %}
          <div class="ui  message negative">
              Dados incorretos!
          </div>
          {%endif%}
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Senha">
          </div>
        </div>
          {%csrf_token%}
               <input class="ui fluid large teal submit button" type="submit" value="Login">
      <div class="ui error message"></div>
  </div>
    </form>
<div class="ui message">
      Novo Usuário? <a href="{%url 'cliente-add'%}">Cadastre-se</a>
    </div>

</section>
{% endblock %}
