<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}

{% block title_block %}
Lista de Produtos
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}frjj
<section class="ui ten wide column">
    <!--{% for produto in object_list %}-->
    <!--{{produto.nome}}-->
    <!--{{produto.preco_unit}}-->
    <!--{{produto.multiplo}}-->
    <!--{% endfor %}-->
    <table class="ui striped table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Preço Unitário</th>
            <th>Multiplo</th>
            <th>Adicionar ao Carrinho</th>
        </tr>
        </thead>
        <tbody>
        {% for produto in object_list %}
        <tr>
            <td> <img class="ui image mini" src="{% static 'image/eliot.jpg' %}">
               <div class="ui content">{{produto.nome}}</div>
            </td>
            <td>{{produto.preco_unit}} </td>
            <td>{{produto.multiplo}}</td>
            <td><a class="ui button">Adicionar</a></td>
        </tr> {% endfor %}
        <!--<tr>-->

        <!--<td>Jamie Harington</td>-->
        <!--<td>January 11, 2014</td>-->
        <!--<td>jamieharingonton@yahoo.com</td>-->
        <!--<td>Yes</td>-->
        <!--</tr>-->
        </tbody>
    </table>
<div class="ui special cards">
            {% for produto in object_list %}

  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="/images/avatar/large/elliot.jpg">
    </div>
    <div class="content">
      <a class="header">{{produto.nome}}</a>
      <div class="meta">
        <span class="date">{{produto.preco_unit}}</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        {{produto.multiplo}}  Members
      </a>
    </div>
  </div>
    {% endfor %}
</div>

</section>
{% endblock %}
