{% extends 'base.html' %}

{% block title_block %}
Lista de Produtos
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}
<section class="ui ten wide column">

    <table class="ui striped table">
        <thead>
        <tr>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in object_list %}
        <tr>
            <td> <img class="ui image mini" src="{% static 'image/eliot.jpg' %}">
               <div class="ui content">{{cliente.username}}</div>
            </td>

        </tr> {% endfor %}

        </tbody>
    </table>

</section>
{% endblock %}
