
{% extends 'base.html' %}

{% block title_block %}
Lista de Produtos
{% endblock title_block %}
{% load system staticfiles %}
{% block body_block %}
<section class="ui ten wide column"> <div class="ui segment">
    <div class=" header">
        <a class="ui ribbon black label"> <h2>Carrinho </h2></a>

    </div>
    {% include  "includes/message.html"%}
    <div id="mensagem"></div>
    {% if object_list%} <table class="ui striped table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Preço Unitário</th>
            <th>Quantidade</th>
            <th>Preço Total</th>
            <th>Cliente</th>
            <th>Status</th>
            <th>Processo</th>
            <th>Rentabilidade</th>
            <!--<th>Excluir do  Carrinho</th>-->
            <!--<th>Comprar Item Isolado</th>-->
            <!--<th>Editar</th>-->
        </tr>
        </thead>
        <tbody>

        {% for pedido in object_list %}
        <tr id="pedido_{{pedido.id}}">
            <td>
                <!--<img class="ui image mini" src="{% static 'image/eliot.jpg' %}">-->
                <!--<img class="ui image mini" src="{% static pedido.produto.imagem %}">-->
               <!--<div class="ui content">-->
                   {{pedido.produto.nome}}
<!--</div>-->
            </td>
            <td id="pedido_{{pedido.id}}_preco_produto">{{pedido.preco_unit}} </td>
            <td id="pedido_{{pedido.id}}_quantidade">{{pedido.quantidade}}</td>
            <!--<td>{{pedido.preco_unit}} * {{pedido.quantidade }}</td>-->
            <td id="pedido_{{pedido.id}}_valor_por_produto">{{pedido.preco_unit|multiplica:pedido.quantidade }}</td>
            <!--<td><a href="{%url 'carrinho-produto-excluir' pedido.id%}" class="ui button   red fluid">Excluir</a></td>-->
            <!--<td><a href="{%url 'produto-comprar' pedido.id%}" class="ui button red fluid">Comprar</a></td>-->
            <!--<td>-->
                <!--&lt;!&ndash;<button type="button" class="ui button button e-green-button js-create-object e-margin-top fluid attached" data-url="{%url 'pedido-editar' pedido.id%}" > Adicionar ao Carrinho</button>&ndash;&gt;-->

                <!--<a data-url="{%url 'pedido-editar' pedido.id%}" class="ui button red js-create-object fluid">Editar</a>-->
            <!--</td>-->
            <td>

                {{pedido.cliente}}
            </td>
            <td>

                {% if pedido.desativado%}Desativado{%else%}Ativo{%endif%}
            </td>
            <td>
               {% if pedido.finalizado%}Finalizado{%else%}Aberto{%endif%}
            </td>
            <td>
                {% if pedido.id|valorizacao %}Ótima{%else%}Boa{%endif%}
            </td>
        </tr> {% endfor %}
        <!--<tr>-->
            <!--<td colspan="4">Valor total</td>-->
            <!--<td id="valor_total" colspan="3"> {{valor_total}} </td>-->
        <!--</tr><tr>-->
            <!--&lt;!&ndash;<td colspan="3"><a class="ui button fluid black" href="{% url 'carrinho-limpar'%}">  Limpar Carrinho</a></td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td colspan="4"><a class="ui button fluid " href="{%url 'carrinho-finalizar'%}"> Finalizar Pedido</a> </td>&ndash;&gt;-->
        <!--</tr>-->
        </tbody>
    </table>
        <div class="ui modal tiny pedido_editar"  id="modal-object"></div>

    {%else%}
    <div class="ui  message">
  Você não possui nenhum item no seu carrinho. Aproveite e compre alguns produtos aqui.
</div>
    {%endif%}

</div>
    {%include "includes/paginete.html"%}
</section>
{% endblock %}
