
{% extends 'base.html' %}

{% block title_block %}
Lista de Produtos
{% endblock title_block %}
{% load system staticfiles %}
{% block body_block %}frjj
<section class="ui ten wide column"> <div class="ui segment">
    <div class=" header">
        <a class="ui ribbon black label"> <h2>Carrinho </h2></a>

    </div>
    {% include  "includes/message.html"%}"
    {% if object_list%} <table class="ui striped table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Preço Unitário</th>
            <th>Quantidade</th>
            <th>Preço Total</th>
            <th>Excluir do  Carrinho</th>
            <th>Comprar Item Isolado</th>
        </tr>
        </thead>
        <tbody>

        {% for pedido in object_list %}
        <tr>
            <td>
                <!--<img class="ui image mini" src="{% static 'image/eliot.jpg' %}">-->
                <!--<img class="ui image mini" src="{% static pedido.produto.imagem %}">-->
               <!--<div class="ui content">-->
                   {{pedido.produto.nome}}
<!--</div>-->
            </td>
            <td>{{pedido.preco_unit}} </td>
            <td>{{pedido.quantidade}}</td>
            <!--<td>{{pedido.preco_unit}} * {{pedido.quantidade }}</td>-->
            <td>{{pedido.preco_unit|multiplica:pedido.quantidade }}</td>
            <td><a href="{%url 'carrinho-produto-excluir' pedido.id%}" class="ui button red">Excluir</a></td>
            <td><a href="{%url 'produto-comprar' pedido.id%}" class="ui button red">Comprar</a></td>
        </tr> {% endfor %}
        <tr>
            <td colspan="4">Valor total</td>
            <td colspan="2"> {{valor_total}} </td>
        </tr><tr>
            <td colspan="3"><a class="ui button fluid black" href="{% url 'carrinho-limpar'%}">  Limpar Carrinho</a></td>
            <td colspan="3"><a class="ui button fluid " href="{%url 'carrinho-finalizar'%}"> Finalizar Pedido</a> </td>
        </tr>
        </tbody>
    </table>
    {%else%}
    <div class="ui  message">
  Você não possui nenhum item no seu carrinho. Aproveite e compre alguns produtos aqui.
</div>
    {%endif%}
</div>
</section>
{% endblock %}
