<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}

{% block title_block %}
Lista de Produtos
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}frjj
     <section class="ui ten wide column">
     {% for produto in object_list %}
         {{produto}}
         fkfo4k
         fç4lfplfpfp
         k4pf
     {% endfor %}
     </section>
{% endblock %}
