<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}

{% block title_block %}
Lista de Produtos
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}

<section class="ui twelve wide column"> <div class="ui segment">
  <div class="header">
  <a class="ui ribbon black label"> <h2>  Lista de Produtos</h2></a>
</div>
  {%include "includes/message.html"%}
  <div id="mensagem">

  </div>
  <div class="ui special cards">
    {% for produto in object_list %}
    <div class="card attached">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a class="ui inverted js-create-object button" data-url="{%url 'pedido-produto-add' produto.id %}" >Adicionar ao Carrinho</a>
            </div>
          </div>
        </div>
        <img src="/media/{{produto.imagem}}">
      </div>
      <div class="content">
        <a class="header">{{produto.nome}}</a>
        <div class="meta">
          <span class="date">Preço Unitário: R${{produto.preco_unit}}</span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="columns icon"></i>
          {{produto.multiplo}} Produto(s) devem ser comprados
        </a>
      </div>
      <div class="extra content">
        <a>
          <button type="button" class="ui button button e-green-button js-create-object e-margin-top fluid attached" data-url="{%url 'pedido-produto-add' produto.id %}" > Adicionar ao Carrinho</button>
        </a>
      </div>
    </div>

    {% endfor %}

    <div class="ui modal tiny pedido_add"  id="modal-object"></div>
  </div>{%include "includes/paginete.html"%}
</section>
{% endblock %}
